[submodule "SDL2"]
	path = SDL2
	url = git@github.com:spurious/SDL-mirror.git
	branch = release-2.0.12
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.8.1
[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
[submodule "soloud"]
	path = soloud
	url = git@github.com:jarikomppa/soloud.git
	branch = RELEASE_20200207
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
	branch = v1.79
